@{
    ViewData["Title"] = "Home Page";
}
@using SlayLib.Models
@model IEnumerable<ApplicationUser>

<h1>List of users</h1>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.FirstName</li>
        <li>@user.LastName</li>
        <li>@user.Email</li>
    }
</ul>