@{
    ViewData["Title"] = Localizer["Title"];
}
@using SlayLib.Models
@model IEnumerable<ApplicationUser>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<h1>@Localizer["PageName"]</h1>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.FirstName</li>
        <li>@user.LastName</li>
        <li>@user.Email</li>
    }
</ul>